<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.basicchatapp">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/newlogin2"
        android:label="@string/app_name"
        android:roundIcon="@drawable/newlogin2"
        android:supportsRtl="true"
        android:theme="@style/Theme.BasicChatApp">
        <activity
            android:name=".Activities.UserProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.BasicChatApp.NoActionBar"/>
        <activity
            android:name=".Activities.SplashScreen"
            android:exported="true"
            android:theme="@style/Theme.BasicChatApp.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.UserProfileDesign"
            android:exported="true"
            android:theme="@style/Theme.BasicChatApp.NoActionBar" />
        <activity
            android:name=".Activities.PrivateChatActivity"
            android:exported="true"
            android:theme="@style/Theme.BasicChatApp.NoActionBar" />
        <activity
            android:name=".Activities.RegisterActivity"
            android:exported="true"
            android:theme="@style/Theme.BasicChatApp.NoActionBar" />
        <activity
            android:name=".Activities.LoginActivity"
            android:exported="true"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.BasicChatApp.NoActionBar" />
        <activity
            android:name=".Activities.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.BasicChatApp.NoActionBar" />
    </application>

</manifest>